.ui-dropdown {
  position: absolute;
  width: 100%;
  left: 0;
  list-style: none;
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: var(--ui-white);
  box-shadow: var(--ui-shadow-large); /* 0 0 40px rgba(0, 0, 0, 0.1); */
  opacity: 0;
  visibility: hidden;
  transform: translateY(-0.63rem);
  transition: 0.2s all;
  z-index: 2;
}

.ui-dropdown-item {
  padding: 0;
}

.ui-dropdown-link {
  text-decoration: none;
  color: var(--ui-neutral-300);
  padding: 10px 15px;
  width: 100%;
  display: block;
  border-radius: 3px;
  transition: 0.2s all;
}

.ui-dropdown-link:hover,
.ui-dropdown-link:focus {
  background: var(--ui-neutral-100);
  color: var(--ui-neutral-500);
}

.ui-dropdown--open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
