.btn {
  font: inherit;
  font-size: 0.8rem;
  padding: 0.67rem;
  border-radius: 0.3rem;
  border: solid 0.8px var(--clr-bright-blue);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn--light {
  background-color: var(--clr-ice-blue);
  color: var(--clr-bright-blue);
}

.btn--light:hover,
.btn--light:focus {
  background-color: #035ae1;
  color: var(--clr-white);
}

.btn--dark {
  background-color: var(--clr-bright-blue);
  color: var(--clr-white);
}

.btn--dark:hover,
.btn--dark:focus {
  background-color: #035ae1;
  color: var(--clr-white);
}
