.btn {
  font-size: 0.8125rem;
  padding: 0.6875rem 3.875rem;
  border-radius: 0.3125rem;
  border: solid 0.8px var(--clr-bright-blue);
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.6875rem 0rem;
  width: 100%;
  max-width: 15.125rem;
}

.btn--light {
  background-color: var(--clr-ice-blue);
  color: var(--clr-bright-blue);
}

.btn--light:hover,
.btn--light:focus {
  background-color: #035ae1;
  color: var(--clr-white);
}

.btn--dark {
  background-color: var(--clr-bright-blue);
  color: var(--clr-white);
}

.btn--dark:hover,
.btn--dark:focus {
  background-color: #035ae1;
  color: var(--clr-white);
}
