.left-header {
  display: flex;
  font-size: 0.75rem;
  line-height: 1.5;
  padding: 0.5625rem;
  background-color: var(--clr-white);
  border: solid 1px var(--clr-light-grayish-blue);
  border-radius: 0.3125rem;
}

.left-header__logo {
  background-color: #2d8eff;
  padding: 0.5625rem;
  border-radius: 0.1875rem;
  display: flex;
  place-items: center;
  margin-right: 0.75rem;
}

.left-header__user-info {
  font-size: 0.75rem;
  align-self: center;
}

.username {
  font-size: inherit;
  color: var(--clr-dark);
  margin-bottom: 0.125rem;
}

.page {
  font-size: inherit;
  color: var(--clr-battleship-grey);
}

.left-header__btn {
  margin-left: auto;
  align-self: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--clr-steel);
  padding-left: 1rem;
}

.left-header__btn:hover {
  color: var(--clr-battleship-grey);
}

.unfold path {
  stroke: currentColor;
}

.left-header .dropdown {
  top: 5.5rem;
  right: 2rem;
}

@media screen and (min-width: 997px) {
  .left-header .dropdown {
    top: 6.3rem;
    right: unset;
    left: 2rem;
    max-width: 14rem;
  }
}
