.ui-left-header {
  position: relative;
  display: flex;
  font-size: 0.75rem;
  line-height: 1.5;
  padding: 0.57rem;
  background-color: var(--ui-white);
  border: solid 1px var(--ui-neutral-200);
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.2s all;
}

.ui-left-header:hover {
  border-color: var(--ui-primary-200);
}

.ui-left-header__logo {
  background-color: var(--ui-primary-200);
  padding: 0.57rem;
  border-radius: 0.19rem;
  display: flex;
  place-items: center;
  margin-right: 0.75rem;
}

.ui-left-header__user-info {
  font-size: 0.75rem;
  align-self: center;
}

.ui-username {
  font-size: inherit;
  color: var(--ui-neutral-500);
  margin-bottom: 0.13rem;
}

.ui-page {
  font-size: inherit;
  color: var(--ui-neutral-400);
}

.ui-left-header__btn {
  margin-left: auto;
  align-self: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--ui-neutral-300);
  padding-left: 1rem;
  padding-right: 0.2rem;
  transition: 0.2s all;
}

.ui-left-header:hover .ui-left-header__btn {
  color: var(--ui-primary-200);
}

.ui-unfold path {
  stroke: currentColor;
}

.ui-left-header .ui-dropdown {
  top: 4.25rem;
}
