.long-nav {
  padding-top: 1.8125rem;
}

@media screen and (min-width: 768px) {
  .long-nav__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.6875rem;
  }
}

@media screen and (min-width: 997px) {
  .long-nav {
    padding-bottom: 0.875rem;
  }
}
