.ui-alert {
  text-align: center;
  background-color: var(--ui-warning);
  padding: 1rem 0;
  border-top: 1px solid var(--ui-neutral-200);
}

.ui-alert__icon {
  fill: var(--ui-warning-200);
  margin-bottom: 0.44rem;
}

.ui-alert__text {
  color: var(--ui-neutral-500);
  max-width: 15.13rem;
  margin: 0 auto;
}

@media screen and (min-width: 500px) {
  .ui-alert__text {
    max-width: unset;
  }
}

@media screen and (min-width: 768px) {
  .ui-alert {
    display: flex;
    justify-content: center;
  }

  .ui-alert__icon {
    margin: 0 0.44rem 0 0;
  }
}
