.alert {
  text-align: center;
  background-color: #fff8e6;
  padding: 1rem 0;
  border-top: 0.06rem solid var(--clr-light-grayish-blue);
}

.alert__icon {
  fill: #ffb000;
  margin-bottom: 0.44rem;
}

.alert__text {
  color: var(--clr-dark);
  max-width: 15.13rem;
  margin: 0 auto;
}

@media screen and (min-width: 500px) {
  .alert__text {
    max-width: unset;
  }
}

@media screen and (min-width: 768px) {
  .alert {
    display: flex;
    justify-content: center;
  }

  .alert__icon {
    margin: 0 0.44rem 0 0;
  }
}
