.sidebar-wrapper {
  box-shadow: 0 8px 60px 0 rgb(0 0 0 / 15%);
  background-color: #f8f8f9;
}

.sidebar-header {
  padding: 0.8125rem 1.0625rem;
}

@media screen and (min-width: 997px) {
  .sidebar-wrapper {
    width: 16rem;
  }

  .sidebar-header {
    padding: 1.5625rem 1.0625rem;
    border-bottom: solid 1px var(--clr-light-grayish-blue);
  }
}
