.sidebar-wrapper {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 8px 60px 0 rgb(0 0 0 / 15%);
  background-color: var(--clr-grayish-blue);
}

.sidebar-header {
  padding: 0.8125rem 1.0625rem;
}

@media screen and (min-width: 997px) {
  .sidebar-wrapper {
    width: 16rem;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
  }

  .sidebar-header {
    padding: 1.5625rem 1.0625rem;
    border-bottom: solid 1px var(--clr-light-grayish-blue);
  }
}
