.search {
  display: flex;
  padding: 1.375rem 0;
}

.search__icon {
  margin-right: 0.6875rem;
  order: -1;
}

.search__input {
  font: inherit;
  color: var(--clr-bright-blue);
  border: none;
  outline: none;
  width: 100%;
}

.search__input::placeholder {
  color: var(--clr-steel);
}

.search__input:focus ~ svg {
  fill: var(--clr-bright-blue);
}
