.ui-top-nav {
  background-color: var(--ui-white);
}

.ui-top-nav__button {
  position: relative;
  font: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding-top: 1.06rem;
  padding-bottom: 0.88rem;
  color: var(--ui-neutral-300);
}

.ui-top-nav__button::after {
  content: '';
  position: absolute;
  width: calc(100% + 3rem);
  left: -1.5rem;
  right: -1.5rem;
  bottom: -1px;
  border-bottom: 1px solid var(--ui-neutral-200);
}

@media (min-width: 768px) {
  .ui-top-nav__button::after {
    width: calc(100% + 5rem);
    left: -2.5rem;
    right: -2.5rem;
  }
}

.ui-top-nav__button svg {
  /* width: calc(100% - 1.1875rem); */
  fill: currentColor;
  width: 1.19rem;
  height: 1.19rem;
}

.ui-top-nav__list {
  overflow: hidden;
  transition: 0.5s ease-in-out;
  height: auto;
  list-style: none;
}

.ui-top-nav__item {
  padding-top: 1rem;
}

.ui-top-nav__item:last-of-type {
  padding-bottom: 1rem;
}

.ui-top-nav__link {
  text-transform: capitalize;
  color: var(--ui-neutral-300);
  text-decoration: none;
}

.ui-top-nav__link:hover {
  color: var(--ui-primary-200);
}

.ui-top-nav--open .ui-top-nav__list {
  max-height: 62.5rem;
}

.ui-top-nav--close .ui-top-nav__list {
  max-height: 0;
}

@media (min-width: 1024px) {
  .ui-top-nav--close .ui-top-nav__list {
    max-height: 62.5rem;
  }
}

.ui-top-nav__divider {
  border: none;
  border-top: 1px solid var(--ui-neutral-200);
}

@media screen and (min-width: 997px) {
  .ui-top-nav__button {
    display: none;
  }

  .ui-top-nav__list {
    display: flex;
    opacity: 1;
    max-height: unset;
  }

  .ui-top-nav__list .ui-top-nav__divider {
    display: none;
  }

  .ui-top-nav__item {
    padding-right: 2.25rem;
    padding-bottom: 0;
  }

  .ui-top-nav__item:last-child {
    padding-right: 0;
  }

  .ui-top-nav__link:hover {
    color: var(--ui-neutral-300);
  }

  .ui-top-nav__link {
    position: relative;
  }

  .ui-top-nav__link::after {
    content: '';
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 0.2rem;
    left: 0;
    bottom: -17px;
    background-color: var(--ui-primary-200);
    transition: 0.2s all;
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem;
  }

  .ui-top-nav__link:hover::after,
  .ui-top-nav__link:focus::after {
    opacity: 1;
  }
}
