.nav__button {
  background-color: transparent;
  border: none;
  outline: none;
  height: 1.1875rem;
  width: 1.1875rem;
  display: block;
  margin-bottom: 0.875rem;
  margin-left: auto;
}

.hamburger {
  height: 1.1875rem;
  width: 1.1875rem;
}

.divider {
  border-top: solid 1px #e5e7eb;
  opacity: 0.5;
}

.nav__list {
  padding-top: 0.875rem;
  transition: all 0.3s ease;
  /* position: fixed; */
  /* left: 1rem; */
}

.nav__item {
  padding-bottom: 0.625rem;
}

.nav__item:last-child {
  /* padding-bottom: 0; */
}

.nav__link {
  text-transform: capitalize;
  color: var(--clr-steel);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-battleship-grey);
}

.active {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  opacity: 0;
  height: 0;
  transform: translateX(-12vw);
}

@media screen and (min-width: 997px) {
  .nav__button,
  hr {
    display: none;
  }
  .nav__list {
    display: flex;
    opacity: 1;
    position: unset;
    transform: translateX(0);
  }

  .nav__item {
    padding-right: 2.25rem;
    padding-bottom: 0;
  }

  .nav__item:last-child {
    padding-right: 0;
  }
}
