.short-nav {
  padding-top: 1.8125rem;
  padding-bottom: 0.25rem;
}

/* .short-nav__divider {
  opacity: 0.25;
} */

.short-nav__cta {
  display: flex;
}

.short-nav__btn--dark {
  width: 11.8125rem;
  padding: 0.6875rem 0;
  margin-right: 0.75rem;
}

.short-nav__btn--light {
  max-width: 2.5625rem;
  padding: 0.6875rem;
}

.add-icon {
  margin-left: 0.6875rem;
  vertical-align: sub;
}

/* .short-nav__title {
  color: var(--clr-dark);
  padding-top: 1.0625rem;
} */

.dots-icon {
  fill: currentColor;
  vertical-align: sub;
}

@media screen and (min-width: 768px) {
  .short-nav {
    padding-bottom: 0.6875rem;
    padding-bottom: 0.875rem;
  }

  .short-nav__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.6875rem;
  }

  .flex-order {
    order: -1;
  }
}
