.short-nav {
  padding-top: 1.8125rem;
}

.short-nav__cta {
  display: flex;
}

.short-nav__btn--dark {
  width: 11.8125rem;
  padding: 0.6875rem 0;
  margin-right: 0.75rem;
  flex-grow: 1;
}

.short-nav__btn--light {
  max-width: 2.5625rem;
  padding: 0.6875rem;
}

.add-icon {
  margin-left: 0.6875rem;
  vertical-align: sub;
}

.dots-icon {
  fill: currentColor;
  vertical-align: sub;
}

@media screen and (min-width: 768px) {
  .short-nav__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.6875rem;
  }
}
