.left-style {
  background-color: var(--clr-pale-gray);
}

.left-style__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0.6875rem 1.5rem;
}

.avatar {
  height: 2.0625rem;
  width: 2.0625rem;
  border-radius: 50%;
  margin-right: 0.75rem;
  object-fit: cover;
}

.status {
  position: absolute;
  width: 0.4375rem;
  height: 0.4375rem;
  border-radius: 50%;
  background-color: #48ab3a;
  border: solid 1px white;
  bottom: 0;
  left: 1.5rem;
}

.account-btn {
  font: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding-right: 4rem;
  display: flex;
  align-items: center;
  line-height: 1.54;
  color: var(--clr-steel);
  position: relative;
}

.account-btn:hover {
  color: var(--clr-battleship-grey);
}

.account-menu {
  overflow: hidden;
  transition: max-height 0.2s ease;
  height: auto;
  list-style: none;
  max-height: 0;
  border-top: solid 1px var(--clr-light-grayish-blue);
  padding: 0 1.5rem;
}

.showmenu .active,
.account-menu--active {
  max-height: 62.5rem;
}

.account-menu__item {
  padding: 0;
}

.account-menu__link {
  text-decoration: none;
  color: var(--clr-steel);
  padding: 10px 15px;
  width: 100%;
  display: block;
  border-radius: 3px;
  transition: 0.2s all;
}

.account-menu__link:hover,
.account-menu__link:focus {
  background: #fafafa;
  color: #182842;
}

.opened {
  max-height: 62.5rem;
}

.left-style__btn {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: var(--clr-steel);
  padding-left: 1rem;
}

.left-style__btn:hover {
  color: var(--clr-battleship-grey);
}

.left-style__btn svg,
.menu-link svg,
.account-menu-arrow {
  fill: currentColor;
  width: 1.1875rem;
  height: 1.1875rem;
}

.left-style__menu {
  overflow: hidden;
  transition: max-height 0.2s ease;
  height: auto;
  list-style: none;
  max-height: 0;
}

/* Subnav styles */
.menu-link {
  display: flex;
  border-top: solid 1px var(--clr-light-grayish-blue);
  padding: 0.6875rem 1.5rem;
  color: var(--clr-steel);
  text-decoration: none;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--clr-battleship-grey);
}

.menu-label {
  margin-left: 0.75rem;
}

.arrow-up,
.arrow-right,
.account-menu-arrow {
  transition: transform 0.2s ease;
  margin-left: auto;
}

.arrow-up {
  transform: rotate(180deg);
}

.arrow-right,
.account-menu-arrow {
  display: none;
}

.rotate {
  transform: rotate(0deg);
}

.left-style__subnav {
  border-top: solid 1px var(--clr-light-grayish-blue);
  overflow: hidden;
  max-height: 0;
  transition: 0.4s ease;
  height: auto;
}

.open {
  max-height: 62.5rem;
}

.subnav-item {
  padding: 0 1rem;
  color: var(--clr-steel);
  list-style: none;

  padding: 0.25rem 0.875rem;
}

.subnav-item:first-child {
  padding-top: 1.4375rem;
}

.subnav-item:last-child {
  padding-bottom: 1.4375rem;
}

.subnav-link {
  color: var(--clr-steel);
  text-decoration: none;
  display: block;
  padding: 0.6875rem 0.75rem 0.6875rem 1.5rem;
}

.subnav-link:hover,
.subnav-link:focus {
  outline: none;
  color: var(--clr-battleship-grey);
  background-color: var(--clr-light-grayish-blue);
  border-radius: 0.3125rem;
}

/********* DESKTOP STYLES ************/
@media screen and (min-width: 997px) {
  .left-style {
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: var(--clr-grayish-blue);
    position: relative;
  }

  .left-style__btn {
    display: none;
  }

  .left-style__user {
    order: 2;
    border-top: solid 1px var(--clr-light-grayish-blue);
  }

  .left-style__menu {
    max-height: 62.5rem;
    padding-top: 0.4375rem;
    position: relative;
  }

  .arrow-right,
  .account-menu-arrow {
    display: block;
  }

  .turn {
    transform: rotate(180deg);
  }

  .account-btn {
    padding: unset;
    width: 100%;
  }

  .account-menu {
    position: absolute;
    list-style: none;
    margin-left: 0.875rem;
    max-height: unset;
    padding: 1rem;
    border-radius: 0.3125rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    z-index: 2;
    bottom: 3.875rem;
    width: auto;
    min-width: 225px;
    max-width: 14.25rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(0.625rem);
    transition: 0.2s all;
  }

  .opened {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    z-index: 2;
  }

  .account-menu__item {
    list-style: none;
  }

  .menu-link {
    border: unset;
    padding: 0;
    align-items: center;
  }

  .menu-link svg {
    vertical-align: middle;
  }

  .menu-icon {
    padding: 0.6875rem;
    border-radius: 5px;
  }

  .menu-label {
    padding-top: 0.1875rem;
    margin-left: 0.5rem;
  }

  .menu-link:hover,
  .menu-link:focus {
    background-color: var(--clr-light-grayish-blue);
    border-radius: 0.3125rem;
  }

  .focused-link:focus {
    background: transparent;
  }

  .focused-icon {
    background-color: var(--clr-light-grayish-blue);
    vertical-align: bottom;
  }

  .menu-item {
    padding: 0.25rem 0.875rem;
  }

  .arrow-up {
    display: none;
  }

  .arrow-right {
    margin-right: 0.625rem;
  }

  .left-style__subnav {
    border: none;
    min-width: 0;
    position: absolute;
    background-color: var(--clr-pale-gray);
    right: -11rem;
    z-index: 1;
    height: 100%;
    max-height: unset;
    top: 0;
    border-left: solid 1px var(--clr-light-grayish-blue);
    padding-top: 0.4375rem;
  }

  .subnav-item:first-child {
    padding-top: 0.25rem;
  }

  .subnav-item {
    padding: 0.25rem 0.875rem;
  }

  .subnav-link {
    padding: 0.6875rem 0.75rem;
  }

  .open {
    right: 0;
    min-width: 12.1rem;
  }

  .fade {
    opacity: 0;
    transition: 0.3s ease;
  }
}
