.left-style {
  background-color: var(--clr-pale-gray);
}

.left-style__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0.6875rem 1.5rem;
}

.avatar {
  display: flex;
  align-items: center;
  line-height: 1.54;
  color: var(--clr-steel);
  position: relative;
}

.avatar-img {
  height: 2.0625rem;
  width: 2.0625rem;
  border-radius: 50%;
  margin-right: 0.75rem;
  object-fit: cover;
}

.status {
  position: absolute;
  width: 0.4375rem;
  height: 0.4375rem;
  border-radius: 50%;
  background-color: #48ab3a;
  border: solid 1px white;
  bottom: 0;
  right: 4.3rem;
}

.left-style__btn {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: var(--clr-battleship-grey);
}

.left-style__btn svg {
  fill: currentColor;
  width: 1.1875rem;
  height: 1.1875rem;
}

.left-style__menu {
  overflow: hidden;
  transition: max-height 0.2s ease;
  height: auto;
  list-style: none;
  max-height: 0;
}

/* Subnav styles */
.menu-link {
  display: flex;
  border-top: solid 1px var(--clr-light-grayish-blue);
  padding: 0.6875rem 1.5rem;
  color: var(--clr-steel);
  text-decoration: none;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--clr-battleship-grey);
}

.menu-link svg {
  fill: currentColor;
  width: 1.1875rem;
  height: 1.1875rem;
}

.menu-label {
  margin-left: 0.75rem;
}

.arrow-up,
.arrow-right {
  transition: transform 0.2s ease;
  margin-left: auto;
}

.arrow-up {
  transform: rotate(180deg);
}

.arrow-right {
  display: none;
}

.rotate {
  transform: rotate(0deg);
}

.left-style__subnav {
  border-top: solid 1px var(--clr-light-grayish-blue);
  overflow: hidden;
  max-height: 0;
  transition: 0.2s ease;
  height: auto;
}

.open {
  max-height: 62.5rem;
}

.subnav-item {
  padding: 0 1rem;
  color: var(--clr-steel);
  list-style: none;
}

.subnav-item:first-child {
  padding-top: 1.4375rem;
}

.subnav-item:last-child {
  padding-bottom: 1.4375rem;
}

.subnav-link {
  color: var(--clr-steel);
  text-decoration: none;
  display: block;
  padding-top: 0.6875rem;
  padding-bottom: 0.6875rem;
  padding-left: 1rem;
}

.subnav-link:hover,
.subnav-link:focus {
  outline: none;
  color: var(--clr-battleship-grey);
  background-color: var(--clr-light-grayish-blue);
}

@media screen and (min-width: 997px) {
  .left-style {
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: var(--clr-grayish-blue);
  }

  .left-style__btn {
    display: none;
  }

  .left-style__user {
    order: 2;
    border-top: solid 1px var(--clr-light-grayish-blue);
  }

  .left-style__menu {
    max-height: 62.5rem;
    padding-top: 0.4375rem;
    position: relative;
  }

  /* Subnav */
  .menu-link {
    border: unset;
    padding: 0.6875rem 0.75rem;
  }

  .menu-link:hover,
  .menu-link:focus {
    color: var(--clr-battleship-grey);
    background-color: var(--clr-light-grayish-blue);
  }

  .menu-item {
    padding: 0.25rem 0.875rem;
  }

  .arrow-up {
    display: none;
  }

  .arrow-right {
    display: block;
  }

  .left-style__subnav {
    border: none;
    min-width: 0;
    position: absolute;
    background-color: var(--clr-pale-gray);
    right: -15.25rem;
    z-index: 998;
    height: 100%;
    max-height: unset;
    top: 0;
    border-left: solid 1px var(--clr-light-grayish-blue);

    padding-top: 0.4375rem;
  }

  .subnav-item:first-child {
    padding-top: 0.25rem;
  }

  .subnav-item {
    padding: 0.25rem 0.875rem;
  }

  .subnav-link {
    padding: 0.6875rem 0.75rem;
  }

  .open {
    right: 0;
    min-width: 12.5rem;
  }
}
