.ui-left-style {
  background-color: var(--ui-neutral-100);
}

.ui-left-style__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 1rem 1.5rem;
}

.ui-avatar {
  height: 2.07rem;
  width: 2.07rem;
  border-radius: 50%;
  margin-right: 0.75rem;
  object-fit: cover;
}

.ui-status {
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: #48ab3a;
  border: solid 1px white;
  bottom: 0;
  left: 1.5rem;
}

.ui-account-btn {
  font: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding-right: 4rem;
  display: flex;
  align-items: center;
  line-height: 1.54;
  color: var(--ui-neutral-300);
  position: relative;
}

.ui-account-btn:hover {
  color: var(--ui-neutral-400);
}

.ui-account-menu {
  overflow: hidden;
  height: auto;
  list-style: none;
  max-height: 0;
  border-top: solid 1px transparent;
  padding: 0 1.5rem;
  transition: 0.2s all;
}

.ui-showmenu .ui-active,
.ui-account-menu--active {
  max-height: 62.5rem;
}

.ui-account-menu__item {
  padding: 0;
}

.ui-account-menu__link {
  text-decoration: none;
  color: var(--ui-neutral-300);
  padding: 10px 15px;
  width: 100%;
  display: block;
  border-radius: 3px;
  transition: 0.2s all;
}

.ui-account-menu__link:hover,
.ui-account-menu__link:focus {
  background: var(--ui-neutral);
  color: var(--ui-neutral-500);
}

.ui-account-menu--open {
  max-height: 62.5rem;
  padding: 1rem 1.5rem;
  border-color: var(--ui-neutral-200);
}

.ui-left-style__btn {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: var(--ui-neutral-300);
  padding-left: 1rem;
}

.ui-left-style__btn:hover {
  color: var(--ui-neutral-400);
}

.ui-left-style__btn svg,
.ui-menu-link svg,
.ui-account-menu-arrow {
  fill: currentColor;
  width: 1.19rem;
  height: 1.19rem;
}

.ui-menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui-left-style__menu {
  overflow: hidden;
  transition: 0.3s ease-in-out;
  height: auto;
  list-style: none;
  max-height: 0;
}

.ui-left-style__menu--open {
  max-height: 62.5rem;
}

/* Subnav styles */
.ui-menu-link {
  display: flex;
  align-items: center;
  border-top: solid 1px var(--ui-neutral-200);
  padding: 1rem 1.5rem;
  color: var(--ui-neutral-300);
  text-decoration: none;
}

.ui-menu-link:hover,
.ui-menu-link:focus {
  color: var(--ui-neutral-400);
}

.ui-menu-label {
  margin-left: 0.75rem;
}

.ui-arrow-up,
.ui-arrow-right,
.ui-account-menu-arrow {
  transition: transform 0.2s ease;
  margin-left: auto;
}

.ui-arrow-up {
  transform: rotate(180deg);
}

.ui-arrow-right,
.ui-account-menu-arrow {
  display: none;
}

.ui-rotate {
  transform: rotate(0deg);
}

.ui-left-style__subnav {
  overflow: hidden;
  max-height: 0;
  height: auto;
  border-top: solid 1px transparent;
  transition: 0.4s ease;
}

.ui-left-style__subnav--open {
  border-color: var(--ui-neutral-200);
  max-height: 62.5rem;
}

.ui-subnav-item {
  padding: 0 1rem;
  color: var(--ui-neutral-300);
  list-style: none;
  padding: 0.25rem 0.88rem;
}

.ui-subnav-item:first-child {
  padding-top: 1.4rem;
}

.ui-subnav-item:last-child {
  padding-bottom: 1.4rem;
}

.ui-subnav-link {
  color: var(--ui-neutral-300);
  text-decoration: none;
  display: block;
  padding: 0.69rem 0.75rem 0.69rem 1.5rem;
}

.ui-subnav-link:hover,
.ui-subnav-link:focus {
  outline: none;
  color: var(--ui-neutral-400);
  background-color: var(--ui-neutral-200);
  border-radius: 0.3rem;
}

/********* DESKTOP STYLES ************/
@media screen and (min-width: 997px) {
  .ui-left-style {
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: var(--ui-neutral);
    position: relative;
  }

  .ui-left-style__btn {
    display: none;
  }

  .ui-left-style__user {
    order: 2;
    border-top: solid 1px var(--ui-neutral-200);
  }

  .ui-left-style__menu {
    max-height: 62.5rem;
    padding-top: 0.4rem;
    position: relative;
  }

  .ui-arrow-right,
  .ui-account-menu-arrow {
    display: block;
  }

  .ui-turn {
    transform: rotate(180deg);
  }

  .ui-account-btn {
    padding: unset;
    width: 100%;
  }

  .ui-account-menu {
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 78px;
    list-style: none;
    max-height: unset;
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: var(--ui-white);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    transform: translateY(0.6rem);
    opacity: 0;
    transition: 0.2s all;
    z-index: 2;
  }

  .ui-account-menu--open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    z-index: 2;
  }

  .ui-account-menu__item {
    list-style: none;
  }

  .ui-menu-link {
    border: unset;
    padding: 0;
    align-items: center;
  }

  .ui-menu-link svg {
    vertical-align: middle;
  }

  .ui-menu-icon {
    padding: 0.69rem;
    border-radius: 5px;
  }

  .ui-menu-label {
    padding-top: 0.19rem;
    margin-left: 0.55rem;
  }

  .ui-menu-link:hover,
  .ui-menu-link:focus {
    background-color: var(--ui-neutral-200);
    border-radius: 0.3rem;
  }

  .ui-focused-link:focus {
    background: transparent;
  }

  .ui-focused-icon {
    background-color: var(--ui-neutral-200);
    vertical-align: bottom;
  }

  .ui-menu-item {
    padding: 0.25rem 0.88rem;
  }

  .ui-arrow-up {
    display: none;
  }

  .ui-arrow-right {
    margin-right: 0.63rem;
  }

  .ui-left-style__subnav {
    border: none;
    min-width: 0;
    position: absolute;
    background-color: var(--ui-neutral-100);
    right: -11rem;
    z-index: 1;
    height: 100%;
    max-height: unset;
    top: 0;
    border-left: solid 1px var(--ui-neutral-200);
    padding-top: 0.4rem;
  }

  .ui-subnav-item:first-child {
    padding-top: 0.25rem;
  }

  .ui-subnav-item {
    padding: 0.25rem 0.7rem;
  }

  .ui-subnav-link {
    padding: 0.69rem 0.75rem;
  }

  .ui-left-style__subnav--open {
    right: 0;
    min-width: calc(100% - 64px);
  }

  .ui-fade {
    opacity: 0;
    transition: 0.3s ease;
  }
}
